{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Started</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body class="bg-dark">

    <header>
      <div class="bg-dark collapse show" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Get Started with RewiewAssist</h4>
              <p class="text-muted">Please select either of the options to move forward with boosting your Business.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact Us</h4>
              <ul class="list-unstyled">
                
                
                <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Email us: support@reviewassist.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <img class="d-block mx-auto mb-4" src="{% static "Reviewassist.png" %}" alt="" width="80" height="72">

          
          
          <p>
            <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-primary my-2">Open Existing Business</a>
            <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="btn btn-secondary my-2">Add new Business</a>
          </p>
        </div>
      </section>

      

    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Album example for Bootstrap_files/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Album example for Bootstrap_files/popper.min.js.download"></script>
    <script src="./Album example for Bootstrap_files/bootstrap.min.js.download"></script>
    <script src="./Album example for Bootstrap_files/holder.min.js.download"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>